html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.hidden.hidden {
  display: none;
}

/* CONTENT */

.content {
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient( rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 1)), url(images/photo.jpg);
  background-attachment: fixed;
  min-height: calc(100vh - 360px);
  height: 100vh;
}

.content__title {
  display: flex;
  padding-top: 10%;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.content__title h5 {
  text-transform: uppercase;
  font: 14px 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2.5px;
  font-weight: 600;
}

.content__title-h3 {
  display: flex;
  text-align: center;
  font: 24px 'Roboto', sans-serif;
  color: white;
  line-height: 1.5;
  font-weight: 300;
  max-width: 720px;
  margin: 0 auto;
}

.content__title h1 {
  text-align: center;
  line-height: 1.17;
  font: 72px 'Roboto', sans-serif;
  padding: 80px 0 38px 0;
  color: white;
  letter-spacing: .5px;
  font-weight: 600;
}

.social {
  margin-top: auto;
  margin-bottom: 2%;
}
.f-icon{
  margin-right: -12px;
}

.arrow-7 {
  margin-bottom: 50px;
  outline: none;
  cursor: pointer;
  padding: 0 30px;
}

.arrow-7 span {
  display: block;
  width: 22px;
  height: 22px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  animation: arrow-7 2s infinite;
}

.arrow-7 span:nth-child(2) {
  animation-delay: -0.1s;
}

.arrow-7 span:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes arrow-7 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/*Who we are*/

.content__who-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
  padding-bottom: 90px;
}

.content__who-title h5 {
  text-transform: uppercase;
  font: 14px 'Roboto', sans-serif;
  color: #000;
  letter-spacing: 2.5px;
  font-weight: 600;
  padding-bottom: 22px;
}

.content__who-title h4 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 36px;
  line-height: 1.23;
}

.content__who-about {
  padding-top: 90px;
  padding-bottom: 170px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.about-container {
  padding: 60px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-container h2 {
  padding-bottom: 35px;
  font-size: 28px;
  line-height: 1.17;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
}

.about-container h5 {
  font-size: 20px;
  line-height: 1.55;
  font-family: 'Roboto', Arial, sans-serif;
  color: #000;
}

/* Who we are*/

.content__how {
  padding-top: 135px;
  padding-bottom: 65px;
  background-color: #f2f2f2;
}

.content__how-title {
  margin-bottom: 90px;
}

.content__how-title h1 {
  line-height: 1.23;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 40px;
  font-size: 42px;
  text-align: center;
}

.content__how-title h5 {
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
}

.content__how-photo1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  margin-bottom: 60px;
}
.content__how-photo2 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  margin-bottom: 60px;
}
.content__how-photo3 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  margin-bottom: 60px;
}

.photo-item {
  display: flex;
}

.photo {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 100px;
  max-width: 460px;
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.description {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 460px;
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.description h2 {
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 1.17;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
}

.description h5 {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.description h6 {
  padding-bottom: 10px;
  color: #ff8562;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 2.5px;
}

/* expirence*/

.expirence__block {
  padding-top: 150px;
  padding-bottom: 150px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.expirence__block h1 {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.23;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.expirence__block h3 {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  margin-bottom: 90px;
}

.expirence__block-item1 {
  margin: 0 20px 55px 20px;
  display: flex;
  align-items: center;
}
.expirence__block-item2 {
  margin: 0 20px 55px 20px;
  display: flex;
  align-items: center;
}
.expirence__block-item3 {
  margin: 0 20px 55px 20px;
  display: flex;
  align-items: center;
}

.item-svg {
  width: 55px;
  height: 55px;
}

.item-description {
  padding-left: 40px;
  width: 800px;
}

.item-description h2 {
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 1.35;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
}

.item-description h5 {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

/* Contacts */

.contacts__block {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f2f2f2;
}

.contacts__block h1 {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.23;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.contacts__block h3 {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  margin-bottom: 75px;
  text-align: center;
}

.contacts__block-all {
  font-size: 18px;
  line-height: 1.55;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #000;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts__block-all b {
  font-weight: 700;
}

.contacts-line {
  margin-top: 10px;
}
@media (max-width: 1600px){
  .content__who-title {
    padding-bottom: 0;
  }
}
@media (max-width:1024px) {
  .expirence__block {
    width: 100%;
  }
  .content__how-title {
    margin-bottom: 90px;
    padding: 0 40px;
}
.photo {
    margin-right: 0px;
    width: auto;
  }
}

@media(max-width:768px) {
  .content__title h1 {
    text-align: center;
    line-height: 1.17;
    font: 60px 'Roboto', sans-serif;
    padding: 80px 0 38px 0;
    color: white;
    letter-spacing: .5px;
    font-weight: 600;
  }
  .photo-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 21px;
    margin: 10px 0;
    width: auto;
  }
  .about-container h2 {
    font-size: 25px;
  }
  .content__how-title h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
  .content__how-title h5 {
    font-size: 21px;
  }
  .content__how-title {
    margin-bottom: 70px;
  }
  img {
    max-width: 80%;
  }
  .description h2 {
    font-size: 27px;
  }
  .description h5 {
    font-size: 16px;
  }
  .expirence__block h1 {
    margin-bottom: 30px;
    font-size: 37px;
  }
  .expirence__block h3 {
    font-size: 21px;
  }
  .item-description {
    width: 480px;
  }
  .content__title-h3 {
    font: 17px 'Roboto', sans-serif;
  }
  .item-description h2 {
    font-size: 18px;
  }
  .item-description h5 {
    font-size: 16px;
  }
  .contacts__block h1 {
    font-size: 37px;
  }
  .contacts__block h3 {
    font-size: 21px;
    text-align: center;
  }
  .social {
    margin-bottom: 7%;
  }
  .scrollto{
      margin-bottom: 40px;
  }
}

@media(max-width:420px) {
  .content__title h1 {
    font: 40px 'Roboto', sans-serif;
    padding: 80px 0 38px 0;
    letter-spacing: .5px;
    font-weight: 600;
  }
  .content__title-h3 {
    font: 15px 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    max-width: 720px;
    padding: 0 24px;
  }
  .content__who-title {
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .content__who-about {
    padding-top: 50px;
  }
  .about-container {
    background-color: #ffffff;
    padding: 0 40px;
  }
  .content__how {
    padding-top: 55px;
  }
  .content__how-title h1 {
    font-size: 22px;
    padding: 0px;
  }
  .content__how-title h5 {
    font-size: 19px;
    padding: 0 10px;
  }
  .description h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .description h5 {
    font-size: 14px;
  }
  
  .content__who-about {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .about-container h2 {
    font-size: 20px;
  }
  .content__who-title h4 {
    font-size: 32px;
  }
  .about-container h5 {
    font-size: 17px;
  }
  .expirence__block {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .expirence__block h1 {
    font-size: 32px;
  }
  .expirence__block h3 {
    font-size: 18px;
    padding: 0 40px;
    line-height: 1.3;
  }
  .item-description {
    width: auto;
    padding: 0 20px;
  }
  .item-svg {
    display: none;
  }
  .contacts__block h1 {
    font-size: 32px;
}
.contacts__block {
  padding-top: 70px;
}
.contacts__block h3 {
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
}
}
@media(max-width:330px){
  .content__title h1 {
    font: 34px 'Roboto', sans-serif;
}
.content__who-about {
  padding-top: 40px;
}
}